name: greet-action

on:
  workflow_dispatch:

jobs:
  greet:
    name: "Test: Greet Action"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

        - name: Greet Action
          uses: r3d-shadow/custom-github-action@1.0.1
        with:
          name: "Safeer"
          message: "Welcome to GitHub Actions!"